- var mainMenu = [{"label": "O akci","link": "#o-akci" },{"label": "Program","link": "#program" }, {"label": "Organizátoři","link": "#organizatori" }]

//- {"label": "Organizátoři","link": "#organizatori" }
//- {"label": "Přednášející","link": "#prednasejici" }


doctype html
html.no-js(lang="")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title Hello FIT! 2018
        meta(name="description" content="")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="img/fitpp_white.png" rel="apple-touch-icon")
        link(href='img/fitpp_sqr.png' rel='icon')
        meta(name="theme-color" content="#1174BA")

        link(type="text/css" href="https://use.typekit.net/qlg5ujf.css" rel="stylesheet")

    body
        //
            [if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]

        nav#main-nav
            div.widthWrap
                a(data-scroll href="#header")
                    img#logo(src="img/fitpp_white.png")
                ul
                    each item in mainMenu
                        li
                            a(href=item.link)=item.label
            
        header#header
            h1 Hello FIT!
            time#date 27. září 2018 od 10:00
            #place Fakulta informačních technologií ČVUT (Nová budova ČVUT)

            #header-buttons
                a.button1(href="https://goo.gl/forms/N76591VejVrolX7p2" target="_blank") Registrace
                a.button1(href="https://www.facebook.com/events/169537793734664/" target="_blank") FB Událost

        main
            article#o-akci
                .widthWrap
                    h2 O akci
                    p Nastupuješ do prvního ročníku bakalářského studia na FIT ČVUT? V tom případě je Hello FIT! akce přímo pro tebe. 
                    p Hello FIT! je jednodenní populárně naučný úvod do studia, který ti pomůže s přechodem ze střední školy na FIT. Čekají tě zajímavé a užitečné přednášky, workshopy, prohlídky prostor (nejen) fakulty a v neposlední řadě také večerní afterpárty.
                    p Hello FIT! je nástupcem akce Technokrati, kterou až do roku 2016 pořádal dnes již bývalý klub tech@SU. 
                    p Pokud se chceš seznámit se svými budoucími spolužáky ještě dříve před Hello FIT!, doporučujeme jet na spřízněnou akci 
                        a(href="http://seznamovak.fit.cvut.cz" target="_blank") Seznamovák FIT.

            article#program
                .widthWrap
                    h2 Program
                    .program-item
                        h3
                            .program-item--time 9:55
                            .program-item--title Úvodní přednáška
                            .program-item--host Milan Kurka
                        p.program-item--excerpt


                    .program-item
                        h3
                            .program-item--time 10:00
                            .program-item--title Michale, musíme vymyslet nějaký dobrý název :)
                            .program-item--host Milan Kurka, Michal Hošna
                        p.program-item--excerpt I přes vskutku kreativní název přednášky se zde dozvíš, jaké budou tvé první dny na vysoké škole, jak projít (nejen) prvním semestrem a co je prostě třeba vědět. Dozvíš se i informace, na které při Dni otevřených dveří či jiných akcích nezbyl čas, nebo se neříkaly.


                    .program-item
                        h3
                            .program-item--time 11:45
                            .program-item--title Prohlídka kampusu dejvice, oběd
                        p.program-item--excerpt Co vše je v dejvickém kampusu? Kam budeš chodit na výuku a kam raději po výuce? To ti ukážeme na prohlídce Kampus Dejvice. Provedeme tě budovami, kde budeš mít přednášky či cvičení, ukážeme ti Národní technickou knihovnu, poradíme kam zajít na dobrý oběd či pivo a řekneme ti o všech důležitých místech, které zde nalezneš. Po této prohlídce se v kampusu již neztratíš!


                    .program-item
                        h3
                            .program-item--time 14:00
                            .program-item--title O Studentské unii ČVUT a jejích klubech
                            .program-item--host Honza Mára (Studentská unie  ČVUT),  Milan Kurka (FIT++), Václav Pužman (Silicon Hill), dále zástupci klubů International Student Club, AVC ČVUT, Best Prague, IAESTE a Klub Čajovna
                        p.program-item--excerpt ČVUT není jen studium, ale také mnoho volnočasových a studentských aktivit. Drtivou většinu z nich zajišťuje Studentská unie ČVUT, která zastřešuje přes 20 kolejních a zájmových klubů. Chceš pomoci na FITu, vycestovat do zahraničí nebo spravovat síť, na které je připojeno přes 4000 lidí? V tom případě je SU přímo pro tebe.



                    .program-item
                        h3
                            .program-item--time 15:00
                            .program-item--title SSP aneb jak získat praxi při studiu
                            .program-item--host zástupce Spolupráce z průmyslem
                        p.program-item--excerpt Jak získat placenou praxi již při studiu? I na to se na #FITCVUT myslí – představíme ti Spolupráci s průmyslem a její možnosti.


                    .program-item
                        h3
                            .program-item--time 15:15
                            .program-item--title O CESNETU
                            .program-item--host zástupce sdružení CESNET
                        p.program-item--excerpt CESNET není jen Eduroam a internet, ale nabízí také mnoho zajímavých projektů a služeb, které jsou pro studenty zdarma a budou se ti hodit.


                    .program-item
                        h3
                            .program-item--time 15:45
                            .program-item--title Hello Apakrychle!
                            .program-item--host Tomáš Nováček
                        p.program-item--excerpt Co je sakra ta Apakrychle, na kterou jsme se vás ptali v registračním formuláři?


                    .program-item
                        h3
                            .program-item--time 16:00
                            .program-item--title Interaktivní přednáška od Katedry aplikované matematiky
                            .program-item--host Tomáš Kalvoda, Daniel Dombek, Karel Klouda
                        p.program-item--excerpt Ukázka toho, že i čísla dokážou být zábavná!


                    .program-item
                        h3
                            .program-item--time 16:45
                            .program-item--title Programování není guláš
                            .program-item--host David Bernhauer
                        p.program-item--excerpt Jak vlastně funguje počítač a jak mu dávat ty nejpřesnější příkazy? Na co je třeba při programování myslet? Praktická ukázka součástí!


                    .program-item
                        h3
                            .program-item--time 17:30
                            .program-item--title Proč být FIT a závěrečná diskuze
                            .program-item--host Václav Strnad, Tomáš Nováček, Veronika Dvořáková, Milan Kurka
                        p.program-item--excerpt Vašek ti poví, jak vypadá život po absolvování FITu a práce pro jednu z městských firem. Následovat bude prostor pro tvoje otázky, na které ti rádi přesně a upřímně odpovíme.


                    .program-item
                        h3
                            .program-item--time 18:00
                            .program-item--title Afterpárty
                        p.program-item--excerpt ... no a pak se přesuneme na Strahov, kde už bude připravený gril, naražené sudy a vše bude ready na seznamovací pokec a pořádnou párty. A pojede se do rána! ...a možná přijede i policejní hlídka kvůli rušení nočního klidu


            article#organizatori
                .widthWrap
                    h2 Organizátoři

                    .contact-boxes-wrapper
                        .contact-box
                            img.contact-box--photo(src="img/contacts/milan-kurka.jpg" alt="Milan Kurka")
                            h3 Milan Kurka
                            .contact-box--link-icons
                                a.contact-box--link-icons--icon(href="https://facebook.com/kurkamil" target="_blank")
                                    img(src="img/icons/facebook-box.svg" alt="facebook" inline)
                                a.contact-box--link-icons--icon(href="https://twitter.com/MilanKurka" target="_blank") 
                                    img(src="img/icons/twitter.svg" alt="twitter" inline)
                                a.contact-box--link-icons--icon(href="mailto:milan.kurka@fit.cvut.cz" target="_blank") 
                                    img(src="img/icons/email-outline.svg" alt="e-mail" inline)
                            p.contact-box--bio Milan je student bakalářského studijního programu na FITu, k tomu stíhá na fakultě hned několik aktivit. Je redaktorem fakultního časopisu Buď FIT, organizuje Seznamovák a další drobné akce. Prsty má však i v několika dalších akcích a projektech v klubech Studentské unie ČVUT. Ve volném čase se zajímá o grafický design, tvorbu videí, programování a nová média.

                        .contact-box
                            img.contact-box--photo(src="img/contacts/michal-hosna.jpg" alt="Michal Hošna")
                            h3 Michal Hošna
                            .contact-box--link-icons
                                a.contact-box--link-icons--icon(href="https://facebook.com/michalhosna" target="_blank")
                                    img(src="img/icons/facebook-box.svg" alt="facebook" inline)
                                a.contact-box--link-icons--icon(href="https://twitter.com/michalhosna" target="_blank")
                                    img(src="img/icons/twitter.svg" alt="twitter" inline)
                                a.contact-box--link-icons--icon(href="mailto:mh@michalhosna.com" target="_blank")
                                    img(src="img/icons/email-outline.svg" alt="e-mail" inline)
                            p.contact-box--bio Michal je mistr v neustálem zacyklováním Milana. Hned po pivu a jeho drahé polovičce je to jeho třetí oblíbená činnost. Nic nestíhá, a to i přesto že už se prakticky vzdal spánku i studia, nestíhá ani tenhle web, za což ho ostatní milují.


                        .contact-box
                            img.contact-box--photo(src="img/contacts/jaroslav-kriz.jpg" alt="Jaroslav Kříž")
                            h3 Jaroslav Kříž
                            .contact-box--link-icons
                                a.contact-box--link-icons--icon(href="https://facebook.com/krizjar5" target="_blank")
                                    img(src="img/icons/facebook-box.svg" alt="facebook" inline)
                                a.contact-box--link-icons--icon(href="https://twitter.com/krizjar5" target="_blank") 
                                    img(src="img/icons/twitter.svg" alt="twitter" inline)
                                a.contact-box--link-icons--icon(href="mailto:krizjar5@fit.cvut.cz" target="_blank") 
                                    img(src="img/icons/email-outline.svg" alt="e-mail" inline)                                   
                            p.contact-box--bio Jarda je člověk, který neřekne ne na žádnou akci. Takže ho uvidíš organizovat spoustu akcí v rámci fakulty, mimo ní a dokonce i FIT++. A pokud shodou okolností neorganizuje, na té akci se stejně potuluje. Poměrně úspěšně studuje bakaláře a neodmítne pozvání na Kofolu. Nebo Malinovku. To záleží. Snaží se věnovat i karate.

            article#prohlaseni
                .widthWrap
                    p Akce je organizována klubem FIT++ za podpory Fakulty informačních technologií ČVUT v Praze.


        footer
            .widthWrap
                .innerWrap
                    img.footer-logo(src="img/fitpp.png" alt="FIT++")
                    ul
                        li.strong FIT++, zájmový klub Studentské unie ČVUT
                        li Thákurova 9, 160 00 Praha 6
                        li email: 
                            a(href="mailto:fitpp@su.cvut.cz").invisible-link fitpp@su.cvut.cz
                        li
                            ul.linear-list-with-slash
                                li 
                                    a(href="https://fb.com/klubfitpp" target="_blank") Facebook
                                li
                                    a(href="http://twitter.com/klubFITpp" target="_blank") Twitter
                                li
                                    a(href="https://www.instagram.com/klubfitpp" target="_blank") Instagram
                                li
                                    a(href="https://klubfitpp.cz" target="_blank") Web
                                li
                                    a(href="https://gitlab.com/klubfitpp/hellofitcz_2018" target="_blank") Git
                                li #hellofit2018
